################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ItAcademiaHomeWorks/.vs/ItAcademiaHomeWorks/v16/Server/sqlite3
/ItAcademiaHomeWorks/Task1/obj
/ItAcademiaHomeWorks/.vs/ItAcademiaHomeWorks/DesignTimeBuild
